    /* box-shadow: 0 4px 8px rgba(0, 0, 0, .10);
    border-radius: 14px; */
.DiscussionListItem {
    border-bottom: 1px solid #eff0f1;
    padding-bottom: 15px;
}
.DiscussionList-discussions>li {
    margin-top: 10px;
    margin-bottom: 10px;
}
.item-tags {
    right: unset !important;
    top: unset !important;
    bottom: 0px;
    -webkit-mask-image: unset !important;
    max-width: 70% !important;
}
.DiscussionListItem-info {
    padding-bottom: 20px;
}
.TagLabel {
    margin-right: 8px;
    border-radius: 4px !important;
    padding: .5em .7em !important;
}
.Text_title_center_block_class {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .12125rem;
    text-transform: capitalize;
    color: #4d4d4d;
    margin-left: 10px;
    margin-bottom: 0px !important;
}
.IndexPage-toolbar-action>li {
    margin: 0px !important;
}
.IndexPage-toolbar-action>li>a {
    margin: 0px !important;
    border-radius: 0px;
    padding-left: 13px !important;
    padding-right: 13px !important;
    box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.5) inset;
}
.IndexPage-toolbar-action>li:first-child>a {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.IndexPage-toolbar-action>li:last-child>a {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}





